useDynLib(gEcon)
import(
    methods,
    MASS,
    Matrix,
    nleqslv,
    Rcpp
    )
importFrom(grDevices, dev.off, postscript, ps.options, setEPS)
importFrom(graphics, axis, layout, legend, par, plot, plot.new, segments)
importFrom(stats, acf, as.ts, mvfft, rnorm, sd, time, var)
export(
    check_bk,
    compute_model_stats,
    compute_irf,
    list_eq,
    list_calibr_eq,
    gecon_simulation,
    gecon_model,
    get_shock_cov_mat,
    get_par_names,
    get_index_sets,
    get_init_val_var,
    get_init_calibr_par,
    get_model_info,
    get_model_stats,
    get_par_names_by_index,
    get_par_values,
    get_pert_solution,
    get_residuals,
    get_shock_names,
    get_shock_names_by_index,
    get_simulation_results,
    get_ss_values,
    get_var_names,
    get_var_names_by_index,
    initval_calibr_par,
    initval_var,
    is.gecon_model,
    load_model,
    make_model,
    par_info,
    plot_simulation,
    random_path,
    re_solved,
    set_free_par,
    set_shock_distr_par,
    set_shock_cov_mat,
    shock_info,
    simulate_model,
    solve_pert,
    ss_solved,
    steady_state,
    var_info
    )
exportMethods(
    print,
    show,
    summary
    )
exportClasses(
    gecon_model,
    gecon_simulation,
    gecon_shock_info,
    gecon_var_info,
    gecon_par_info
    )
